Node-Red/Sheet 1.txt
[{"id":"d6e4fa98.291b08","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"c786d474.387928","type":"mqtt in","name":"ESP DS1631 LivingRoom","topic":"/LivingRoom/Temp/1","broker":"d6e4fa98.291b08","x":178,"y":93,"z":"c765b94.f389a48","wires":[["6301973c.9cfe68"]]},{"id":"6301973c.9cfe68","type":"function","name":"Convert Temperature","func":"msg.payload = msg.payload*0.0625;\nif (msg.topic == \"/LivingRoom/Temp/1\"){\n\tmsg.topic = \"/openHAB/in/livingRoomTemperature/state\";\n}\nelse{\n\tmsg.topic = \"/openHAB/in/bedRoomTemperature/state\";\n}\nreturn msg;","outputs":1,"x":438,"y":136,"z":"c765b94.f389a48","wires":[["7523f74.f8adc08","d8ecc484.271338"]]},{"id":"7523f74.f8adc08","type":"mqtt out","name":"To openhab","topic":"","qos":"0","retain":"false","broker":"d6e4fa98.291b08","x":680,"y":137,"z":"c765b94.f389a48","wires":[]},{"id":"ac799be4.538668","type":"mqtt in","name":"ESP DS1631 BedRoom","topic":"/BedRoom/Temp/1","broker":"d6e4fa98.291b08","x":175,"y":176,"z":"c765b94.f389a48","wires":[["6301973c.9cfe68"]]},{"id":"3401544f.cbfeac","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":225,"y":301,"z":"c765b94.f389a48","wires":[["afcff3e.f50301"]]},{"id":"cde15c57.321ea","type":"function","name":"Convert Temperature","func":"msg.payload = msg.payload/1000\nmsg.topic = \"/openHAB/in/CPUTemperature/state\"\nreturn msg;","outputs":1,"x":559,"y":376,"z":"c765b94.f389a48","wires":[["7523f74.f8adc08","d8ecc484.271338"]]},{"id":"afcff3e.f50301","type":"file in","name":"CPU temp","filename":"/sys/class/thermal/thermal_zone0/temp","format":"utf8","x":376,"y":327,"z":"c765b94.f389a48","wires":[["cde15c57.321ea"]]},{"id":"d8ecc484.271338","type":"debug","name":"","active":true,"console":"false","complete":"false","x":751,"y":204,"z":"c765b94.f389a48","wires":[]}]